# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Ignore Temporary Files
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore idea files
.idea/*

# Ignore Logging Files
testing/gurobi/*.log
testing/gurobi/*.lp
testing/mpgSolver/*.log

*.log
*.lp

# Ignore Files Created By gen.go
gurobi/gurobi_passthrough.h
gurobi/cgoHelper.go